{% include 'Templates/head.twig' %}
{% block head %}
{% endblock %}
</head>
<body>
{% include 'Templates/top-bar.twig' %}
{% block header %}
{% endblock %}

{% block content %}
{% endblock %}

{% include 'Templates/footer.twig'%}
{% block footer %}
{% endblock %}
</body>
</html>