<nav class="top-bar" style="">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1>
        <a href="{{ url('homepage') }}">
          LimbXpress
        </a>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
  </ul>


  
<section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider hide-for-small"></li>
      <li class=""><a href="#">Blog</a></li>
      <li class="divider"></li>
      <li class=""><a href="#">Health</a></li>
      <li class="divider"></li>
      <li class=""><a href="#">Docs</a></li>
      <li class="divider"></li>
      <li class=""><a href="#">Sign In</a></li>
      <li class="divider"></li>
    </ul>
  </section>
</nav>